.vscode
.history
/packages/**/package-lock.json
/packages/**/images
/packages/**/package.json
/packages/**/stats.json
/packages/**/tsconfig.json
/packages/**/tslint.json
/packages/**/webpack.config.js
/packages/**/src
/packages/**/dts
/packages/**/readme.md
/packages/**/images