language: node_js
node_js:
  - "7"
  - "8"
  - "9"

before_install:
  - npm install
  - lerna bootstrap

after_script:
  - echo "ok"

notifications:
  email:
    recipients:
      - nick121212@126.com
    on_success: change
    on_failure: always.